$header-space:  calc((280 / 16)* 1em);
.header{
display: flex;
flex-direction: column;

&__title-contianer{
  display: grid;
flex-direction: column;
justify-content: left;
padding: 2em $header-space;
background-color: #005596;
border-bottom-color: #226faa;
border-bottom-width: 1px;
border-bottom-style:solid;
}
&__links-container{
  display: flex;
  justify-content:s;
  background-color: #005596;
  height: 5em;
  line-height: 5em;
  padding-left: $header-space;
}
&__title{
  margin-block-end: .4em;
  margin-block-start: .4em;
  font-style: normal;
  font-weight: 200;
  font-size: 3.6em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}
&__sub-title{
  margin-block-end: 0;
  margin-block-start: 0;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4em;
}
&__search-box{
margin-left: $header-space;
}
}
  .link{
  
  text-decoration: none; 
  color: white; 
  margin: 0 2em 0 0;
  }
  .links-container{
    margin-right: $header-space;
  }
.portfoio-section{
  margin-left: $header-space;
}