.main-container{
  text-align: center;
}
.title-text{
  font-weight: 900;
  font-size: 4em;
  font-family: 'Lobster', cursive;
  color: #061c33;
}
.title-images{
  margin: 1em;
}
.buttons{
margin-top: 3.2em;
}